<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/eb1d6021-9f80-4613-b383-2bd8c4d31f09/resourceGroups/jjwebsec-rg/providers/Microsoft.ContainerRegistry/registries/jjwebsecacr</ContainerResourceId>
    <ContainerResourceName>jjwebsecacr</ContainerResourceName>
    <Subscription>JJAzure Internal</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>jjwebsecacr.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>jjwebsec</ContainerName>
    <EnvironmentName>jjwebsecenv</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://jjwebsec.nicesmoke-2e0da1f1.swedencentral.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/eb1d6021-9f80-4613-b383-2bd8c4d31f09/resourceGroups/jjwebsec-rg/providers/Microsoft.App/containerApps/jjwebsec</ResourceId>
    <ResourceGroup>jjwebsec-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>