<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/80214fc0-7aff-43b6-bbff-cf81a36cbb10/resourcegroups/rg-jjwebsec/providers/Microsoft.ContainerRegistry/registries/jjacr</ContainerResourceId>
    <ContainerResourceName>jjacr</ContainerResourceName>
    <Subscription>JJAz Internal1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>jjacr.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>jjwebapisec</ContainerName>
    <EnvironmentName>jjwebsec-env</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://jjwebapisec.whitemoss-4d5b96d9.swedencentral.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/80214fc0-7aff-43b6-bbff-cf81a36cbb10/resourceGroups/rg-jjwebsec/providers/Microsoft.App/containerApps/jjwebapisec</ResourceId>
    <ResourceGroup>rg-jjwebsec</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>